header {
    background: url('images/css-zen-garden.png') no-repeat top center;
    background-size: contain; 
    min-height: 400px; 
    background-color: #fff; 
    display: block;
    box-sizing: border-box;
    margin-left: -2em; 
    margin-right: -2em;
    padding: 2em; 
}

.page-wrapper {
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
        background: rgb(255, 255, 255);
    padding: 5em;
    padding-top: 0;
        position: relative;
        border: 1px solid rgba(0,0,0,0.8);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
    background: url('images/persona-5-stars.gif'); 
}
*    {
    font-family: 'Trebuchet MS', sans-serif;
}
header {
    text-align: center;
}
h1 {
    color: transparent;
}
h2 {
   color: transparent
}

#zen-summary {
    border: 1px
}


a {
  background-image: linear-gradient(
    to right,
    #ee2727,
    #b51b1b 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  background: #d92323;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before {
  width:100%;
}
a:visited {
    color: rgb(0, 0, 0)
}
